.App {
    font-family: sans-serif;
    text-align: center;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 1440px;
  
    perspective: 1000px;
  }
  .words {
    width: 317px;
    height: 268px;
    border: 1px solid; 
  }
  .break {
    flex-basis: 100%;
    height: 0px;
    font-size: 18px;
  }

  .hidden {
    display: none;
  }

